openapi: 3.2.0
info:
  title: Wiktionary MediaWiki Action Open Search API
  description: 'The MediaWiki Action API is the canonical query/edit API exposed on every Wikimedia project at /w/api.php. This spec captures the most commonly used read actions against English Wiktionary: action=query (with prop=wikitext, prop=extracts, prop=revisions, list=search), action=parse, action=opensearch, action=expandtemplates. All Wiktionary content is licensed CC BY-SA 4.0.'
  version: '1.0'
  termsOfService: https://foundation.wikimedia.org/wiki/Terms_of_Use
  contact:
    name: Wikimedia Foundation
    url: https://www.mediawiki.org/wiki/API:Main_page
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://en.wiktionary.org/w
  description: English Wiktionary MediaWiki endpoint
security:
- {}
- oauth2: []
- botPassword: []
tags:
- name: Open Search
  description: action=opensearch — OpenSearch suggestions protocol
paths:
  /api.php#opensearch:
    get:
      operationId: openSearchSuggest
      summary: Wiktionary OpenSearch Suggest
      description: Return autocomplete suggestions following the OpenSearch suggestions protocol. Response is a 4-element array (query, titles, descriptions, urls).
      tags:
      - Open Search
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
          enum:
          - opensearch
          default: opensearch
        description: Must be `opensearch`.
      - name: search
        in: query
        required: true
        schema:
          type: string
        description: Prefix to autocomplete.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 10
        description: Maximum number of suggestions to return.
      - name: namespace
        in: query
        required: false
        schema:
          type: string
          default: '0'
        description: Pipe-separated namespace numbers to search within.
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: OpenSearch suggestions response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenSearchResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    Format:
      name: format
      in: query
      required: false
      description: Response format.
      schema:
        type: string
        enum:
        - json
        - jsonfm
        - xml
        - xmlfm
        - php
        - phpfm
        - none
        default: json
  schemas:
    OpenSearchResponse:
      title: OpenSearchResponse
      description: 'OpenSearch suggestions protocol 4-tuple: [query, titles, descriptions, urls].'
      type: array
      minItems: 4
      maxItems: 4
      items:
        oneOf:
        - type: string
        - type: array
          items:
            type: string
      example:
      - hel
      - - hello
        - help
        - helmet
      - - ''
        - ''
        - ''
      - - https://en.wiktionary.org/wiki/hello
        - https://en.wiktionary.org/wiki/help
        - https://en.wiktionary.org/wiki/helmet
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 access tokens issued via api.wikimedia.org.
      flows:
        authorizationCode:
          authorizationUrl: https://meta.wikimedia.org/w/rest.php/oauth2/authorize
          tokenUrl: https://meta.wikimedia.org/w/rest.php/oauth2/access_token
          scopes:
            basic: Basic read access to user identity
            createeditmovepage: Create, edit, and move pages
            highvolume: Higher rate limits for bot use
    botPassword:
      type: http
      scheme: basic
      description: Legacy BotPassword scoped credentials.
