openapi: 3.2.0
info:
  title: Wiktionary MediaWiki Action Expand Templates API
  description: 'The MediaWiki Action API is the canonical query/edit API exposed on every Wikimedia project at /w/api.php. This spec captures the most commonly used read actions against English Wiktionary: action=query (with prop=wikitext, prop=extracts, prop=revisions, list=search), action=parse, action=opensearch, action=expandtemplates. All Wiktionary content is licensed CC BY-SA 4.0.'
  version: '1.0'
  termsOfService: https://foundation.wikimedia.org/wiki/Terms_of_Use
  contact:
    name: Wikimedia Foundation
    url: https://www.mediawiki.org/wiki/API:Main_page
  license:
    name: CC BY-SA 4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://en.wiktionary.org/w
  description: English Wiktionary MediaWiki endpoint
security:
- {}
- oauth2: []
- botPassword: []
tags:
- name: ExpandTemplates
  description: action=expandtemplates — Expand wikitext templates server-side
paths:
  /api.php#expandtemplates:
    get:
      operationId: expandTemplates
      summary: Wiktionary Expand Templates
      description: Expand templates and parser functions in supplied wikitext and return the result.
      tags:
      - ExpandTemplates
      parameters:
      - name: action
        in: query
        required: true
        schema:
          type: string
          enum:
          - expandtemplates
          default: expandtemplates
        description: Must be `expandtemplates`.
      - name: text
        in: query
        required: true
        schema:
          type: string
        description: Wikitext containing templates to expand.
      - name: title
        in: query
        required: false
        schema:
          type: string
        description: Page title context for the expansion.
      - name: prop
        in: query
        required: false
        schema:
          type: string
          default: wikitext
        description: Which expansion properties to return.
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Expanded templates response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpandTemplatesResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  parameters:
    Format:
      name: format
      in: query
      required: false
      description: Response format.
      schema:
        type: string
        enum:
        - json
        - jsonfm
        - xml
        - xmlfm
        - php
        - phpfm
        - none
        default: json
  schemas:
    ExpandTemplatesResponse:
      title: ExpandTemplatesResponse
      description: action=expandtemplates result.
      type: object
      properties:
        expandtemplates:
          type: object
          properties:
            wikitext:
              type: string
              description: Wikitext after template expansion.
              example: A standard greeting.
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 access tokens issued via api.wikimedia.org.
      flows:
        authorizationCode:
          authorizationUrl: https://meta.wikimedia.org/w/rest.php/oauth2/authorize
          tokenUrl: https://meta.wikimedia.org/w/rest.php/oauth2/access_token
          scopes:
            basic: Basic read access to user identity
            createeditmovepage: Create, edit, and move pages
            highvolume: Higher rate limits for bot use
    botPassword:
      type: http
      scheme: basic
      description: Legacy BotPassword scoped credentials.
